<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ngApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="somethng kisu ekta">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Binate-solution.com : Welcome to Binate Solutions</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#15ad08">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/angular-material-icons.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/line-icons.css" />
    <link rel="stylesheet" href="css/angular-carousel.css" />

</head>

<body>
    <div class="wrapper" ng-controller="mainCtrl">
        <!--Header start-->
        <header>
            <div class="container">
                <div class="col-md-4 logo"> 
                    <a href="index.html"><img src="img/logo.png" alt="IT-Button" title="IT-Button" /></a> 
                    <div class="responsive-menu-icon show-on">
                        <a href="javascript:void(0)" ng-click="isShow = !isShow">
                            <ng-md-icon icon="menu" size="34" ng-hide="isShow" class="animated fadeIn"></ng-md-icon> 
                            <ng-md-icon icon="close" size="34" ng-show="isShow" class="animated fadeIn"></ng-md-icon>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div> 
                <div class="col-md-8 pull-right nav-section" ng-show="!isMobile || isShow" ng-click="isShow = !isShow">
                    <nav>
                        <div class="top-nav animated fadeIn">
                            <ul>
                                <li><a ng-click="isShow = !isShow" href="#video-banner" du-smooth-scroll du-scrollspy duration="1500"
                                        offset="70" alt="Home" title="Home">Home</a>
                                </li>
                                <li><a ng-click="isShow = !isShow" href="#about-us" du-smooth-scroll du-scrollspy offset="70" duration="1500"
                                        alt="About Us" title="About Us">About Us</a>
                                </li>
                                <li><a ng-click="isShow = !isShow" href="#services" du-smooth-scroll du-scrollspy offset="70" duration="1500" alt="Services"
                                        title="Services">Services</a>
                                </li>
                                <li><a ng-click="isShow = !isShow" href="#career" du-smooth-scroll du-scrollspy offset="70" duration="1500" alt="Career"
                                        title="Career">Career</a>
                                </li>
                                <li><a ng-click="isShow = !isShow" href="#address-section" du-smooth-scroll du-scrollspy  duration="1500" alt="Contact"
                                        title="Contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--Header end-->

        <!--Body container start-->
        <div class="body-container" ng-controller="homeController">
            <section id="video-banner">
                <article>
                    <video autoplay="true" loop="loop" muted="muted" volume="0"> 
                        <source src="img/business-intro.mp4" type="video/mp4">  
                    </video>
                    <div class="overlay-dotted"></div>
                    <div class="container">
                        <div class="col-md-12 video-banner-caption">
                            <h2 class="animated zoomIn" >
                                <span class="heading-04">
                                    Building excellent software in an agile way. <br>Top class proactive developers. <br>You're fully in control. 
                                </span> 
                            </h2>
                            <a  href="" class="transparent-button" ng-click="teamqueryModal()">Build Team</a>
                        </div>
                    </div>
                </article>
            </section>
            
            <section id="about-us" class="">
                <article> 
                    <div class="container-fullwidht">
                        <div class="col-md-6 about-us-image">&nbsp;</div>
                        <div class="color-white about-us-content"> 
                            <h4 class="heading-04">About Binate Solutions</h4>
                            <p> Businesses today are facing dynamic market conditions: changing consumer behaviour, new technology, and more data than ever before. To keep pace, they have to be more agile and respond more quickly to change. This environment demands more than traditional outsourcing...</p> 
                            <p><a href="javascript:void(0)" ng-click="aboutDetailsView()" class="secondary-button-white">Details</a></p>
                        </div> 
                        <div class="clear"></div>
                        <!-- Templates -->
                        <script type="text/ng-template" id="aboutDetails">
                            <div class="dialog_header">
                                <h2>About Binate Solutions</h2>
                            </div>
                            <div class="dialog-content">
                                 <p>Businesses today are facing dynamic market conditions: changing consumer behaviour, new technology, and more data than ever before. To keep pace, they have to be more agile and respond more quickly to change. This environment demands more than traditional outsourcing. </p>  
                                 <p>To help businesses meet these challenges, operate more effectively and become more competitive, Binate developed own Business Framework. It combined industries experience into a repeatable and scalable methodology. Binate Solutions has fundamentally transformed the way global business process outsourcing should be delivered.</p> 
                            </div>
                        </script>
                        <!-- Templates -->
                    </div>
                </article>
            </section>
            
            <section id="services" parallax-background parallax-ratio="0.5">
                <article>
                    <div class="container color-white service-section">
                        <h3 class="heading-02 center-align margin-bottom-40">We offer the below way</h3>

                        <div class="col-md-4 services-item">
                            <div class="service-icon"><i class="li li-target"></i></div>
                            <div class="service-content-static">
                                <p class="margin-bottom-0 primary-color"><strong>Agile process</strong></p>
                                <p class="service-desc">
                                    <a href=""><strong>Agile methodology</strong> is an alternative to traditional project management,...</a>
                                </p>
                                <a href="javascript:void(0)" ng-click="agileDetails()" class="primary-button primary-button-onBlack">Details</a>
                            </div> 
                        </div>

                        <!-- Templates -->
                        <script type="text/ng-template" id="agileDetailsId">
                            <div class="dialog_header">
                                <h2>Agile process</h2>
                            </div>
                            <div class="dialog-content">
                                <p><strong>Agile methodology</strong> is an alternative to traditional project management, typically used in software development. It helps teams respond to unpredictability through incremental, iterative work cadences, known as <strong>sprints</strong>.  Hence instead of trying to deliver it all at once near the end, <strong>Agile</strong> methodologies builds software incrementally from the start of the project . Agile is an alternative to waterfall, or traditional sequential development. </p>
                                <p>In the Scrum method of <strong>Agile</strong> software development, work is confined to a regular, repeatable work cycle, known as a <strong>sprint</strong> or iteration. Scrum <strong>sprints</strong> used to be 30 days long, but we advise one-week or two-weeks of <strong>sprints</strong>. Our <strong>sprints</strong> covers</p> 
                                <div class="dialog-list">
                                   <ul>
                                        <li>Manage / refine backlogs [through backlog refinement meeting]:</li>
                                        <li>Sprint planning:</li>
                                        <li>Sprint Duration:</li>
                                        <li>Sprint retrospective:</li>
                                        <li>Sprint kickoff:</li>
                                        <li>Daily stand-up:</li>
                                        <li>Sprint Review Meeting:</li> 
                                    </ul>    
                                </div>
                                <p>In our Scrum idea, all the following three roles are being played properly:</p>
                                <div class="dialog-list list-style-none">
                                   <ol>
                                        <li>Product Owner</li>
                                        <li>Scrum Master</li>
                                        <li>Scrum Team</li>
                                    </ol>    
                                </div>
                            </div>
                        </script>
                        <!-- Templates -->

                        <div class="col-md-4 services-item">
                            <div class="service-icon"><i class="li li-paper-plane"></i></div>
                            <div class="service-content-static">
                                <p class="margin-bottom-0 primary-color"><strong>low Cost</strong></p>
                                <p class="service-desc">
                                    <a href="">Binate offers one of the lowest costs possible. As a result, our honourable clients...</a>
                                </p>
                                <a href="javascript:void(0)" ng-click="lowCostDetails()" class="primary-button primary-button-onBlack">Details</a>
                            </div> 
                        </div>

                        <!-- Templates -->
                        <script type="text/ng-template" id="lowDetailsId">
                            <div class="dialog_header">
                                <h2>Low Cost</h2>
                            </div>
                            <div class="dialog-content">
                                <p>Binate offers one of the lowest costs possible. As a result, our honourable clients can avail world class services, retaining all valuable employees. No need to worry about losing their precious assets.</p> 
                            </div>
                        </script>
                        <!-- Templates -->

                        <div class="col-md-4 services-item last">
                            <div class="service-icon"><i class="li li-graph"></i></div>
                            <div class="service-content-static">
                                <p class="margin-bottom-0 primary-color"><strong>Your Control</strong></p>
                                <p class="service-desc">
                                    <a href="">With Binate Solutions, you have your own people, who are working exclusively for you....</a>
                                </p>
                                <a href="javascript:void(0)" ng-click="yourControllDetails()" class="primary-button primary-button-onBlack">Details</a>
                            </div> 
                        </div> 

                        <!-- Templates -->
                        <script type="text/ng-template" id="yourControllDetailsId">
                            <div class="dialog_header">
                                <h2>Your Control</h2>
                            </div>
                            <div class="dialog-content">
                                <p>With Binate Solutions, you have your own people, who are working exclusively for you. It's your work, your team hence your instruction.</p>                                
                            </div>
                        </script>
                        <!-- Templates -->


                    </div>
                </article>
            </section>


            <section id="hierUs" class="padding-50-0">
                <article>
                    <div class="container terms-n-condition">

                        <div class="col-md-12 center-align"> 
                            <h3 class="heading-03 margin-bottom-40">Build <span class="primary-color">TEAM</span> with us</h3>
                            <p class="heading-05 margin-bottom-40">For prices and more information on software development, team management, project management and functional design, please contact us.</p> 
                            <a  href="javascript:void(0)" ng-click="teamqueryModal()" class="primary-button">Make a Team</a>
                        </div>  
                        <!-- Templates -->
                        <script type="text/ng-template" id="queryModal">
                            <div class="dialog_header">
                                <div class="col-md-12 margin-bottom-30">
                                    <h2>Request for a quotation</h2>
                                </div>
                            </div>
                            <div class="dialog-content">
                                <div class="field-row check-boxarea">
                                    <div class="col-md-4">
                                        <p class="margin-bottom-0"> 
                                            <label class="custom-checkbox custom-checkbox-squire {{ for_phone ? 'selected-pm' : '' }}">
                                                <span><input type="checkbox" name="Payment option" ng-model="for_phone" /></span>
                                                <i>Request for Call</i>
                                            </label>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="margin-bottom-0">
                                            <label class="custom-checkbox custom-checkbox-squire {{ for_email ? 'selected-pm' : '' }}">
                                                <span><input type="checkbox" name="Payment option" ng-model="for_email" /></span>
                                                <i>Request for an Email</i>
                                            </label>
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </div> 

                                <div class="field-row">
                                    <div class="col-md-6">
                                        <input type="text" class="custom-field width-block" placeholder="Full Name">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="field-row">
                                    <div class="col-md-6">
                                        <input type="text" class="custom-field width-block" placeholder="Email">
                                    </div> 
                                    <div class="col-md-6">
                                        <input type="text" class="custom-field width-block" placeholder="Phone Number">
                                    </div>
                                    <div class="clear"></div>
                                </div> 
                                <div class="field-row">
                                    <div class="col-md-12"><p class="margin-bottom-10 heading-05">Preferred technologies:</p></div>
                                    <div class="col-md-6 check-boxarea preferred-technology"> 
                                        <a href="javascript:void(0)" class="dropdown-custom dropdown-btn" ng-click="open = !open; openTwo = false">Select Technologies
                                            <ng-md-icon icon="keyboard_arrow_down" size="25"></ng-md-icon>
                                        </a>
                                        
                                        <div class="dropdown-list dropdown-panel" ng-class="{expanded: open, collapsed: !open}">
                                            <input type="text" placeholder="Search Technology" class="auto-complete-search" />
                                            <p> 
                                                <label class="custom-checkbox custom-checkbox-squire {{ NET ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="NET" /></span>
                                                    <i>.NET</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Ajax ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Ajax" /></span>
                                                    <i>Ajax</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ CSS ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="CSS" /></span>
                                                    <i>CSS</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Delphi ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Delphi" /></span>
                                                    <i>Delphi</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Flash ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Flash" /></span>
                                                    <i>Flash</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ JSP ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="JSP" /></span>
                                                    <i>JSP</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Java ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Java" /></span>
                                                    <i>Java</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Drupal ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Drupal" /></span>
                                                    <i>Drupal</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ MySQL ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="MySQL" /></span>
                                                    <i>MySQL</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ PHP ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="PHP" /></span>
                                                    <i>PHP</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Python ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Python" /></span>
                                                    <i>Python</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ VB ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="VB" /></span>
                                                    <i>VB</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ XML ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="XML" /></span>
                                                    <i>XML</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ F ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="F" /></span>
                                                    <i>F#</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Share_Point ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Share_Point" /></span>
                                                    <i>Share Point</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ ASP ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="ASP" /></span>
                                                    <i>ASP</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ C_C_plus_plus ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="C_C_plus_plus" /></span>
                                                    <i>C/C++</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Cfusion ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Cfusion" /></span>
                                                    <i>Cfusion</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ DHTML ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="DHTML" /></span>
                                                    <i>DHTML</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Flex ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Flex" /></span>
                                                    <i>Flex</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Javascript ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Javascript" /></span>
                                                    <i>Javascript</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Joomla ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Joomla" /></span>
                                                    <i>Joomla</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ MS_SQL ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="MS_SQL" /></span>
                                                    <i>MS SQL</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Oracle ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Oracle" /></span>
                                                    <i>Oracle</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Perl_CGI ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Perl_CGI" /></span>
                                                    <i>Perl/CGI</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Scripts ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Scripts" /></span>
                                                    <i>Scripts</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ XHTML ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="XHTML" /></span>
                                                    <i>XHTML</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ C_sharp ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="C_sharp" /></span>
                                                    <i>C#</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Objective_C ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Objective_C" /></span>
                                                    <i>Objective C</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Ruby_on_Rails ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Ruby_on_Rails" /></span>
                                                    <i>Ruby on Rails</i>
                                                </label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 check-boxarea preferred-technology">

                                        <a href="javascript:void(0)" class="dropdown-custom2 dropdown-btn" ng-click="openTwo = !openTwo; open = false">Select Technologies:
                                            <ng-md-icon icon="keyboard_arrow_down" size="25"></ng-md-icon>
                                        </a>
                                             
                                        <div class="dropdown-list dropdown-panel2" ng-class="{expanded: openTwo, collapsed: !openTwo}">
                                            <input type="text" placeholder="Search Technology" class="auto-complete-search" />
                                            <p> 
                                                <label class="custom-checkbox custom-checkbox-squire {{ Android ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Android" /></span>
                                                    <i>Android</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Windows_Mobile ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Windows_Mobile" /></span>
                                                    <i>Windows Mobile</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Symbian ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Symbian" /></span>
                                                    <i>Symbian</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Apple ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Apple" /></span>
                                                    <i>Apple</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Blackberry ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Blackberry" /></span>
                                                    <i>Blackberry</i>
                                                </label>
                                                <label class="custom-checkbox custom-checkbox-squire {{ Palm_OS ? 'selected-pm' : '' }}">
                                                    <span><input type="checkbox" ng-model="Palm_OS" /></span>
                                                    <i>Palm OS</i>
                                                </label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="field-row">
                                    <div class="col-md-12">
                                        <textarea class="custom-textarea" placeholder="Message" ></textarea>
                                    </div>
                                    <div class="clear"></div>
                                </div> 
 

                                 <div class="field-row">
                                     <div class="col-md-12 ">
                                         <button type="submit" class="primary-button pull-right" >Submit</button>
                                     </div>
                                     <div class="clear"></div>
                                 </div>

                                <div class="clear"></div>
                            </div>
                        </script>
                        <!-- Templates -->

                    </div>
                </article>
            </section> 

            <section class="white-section light-blue-bg">
                <article>
                    <div class="banner-section">
                        <ul rn-carousel rn-carousel-auto-slide rn-carousel-index="carouselIndex" rn-carousel-duration="500"
                            rn-carousel-controls-allow-loop rn-carousel-pause-on-hover>
                            <li ng-repeat="bannerCap in bannerImages">
                                <div class="banner-content" layout layout-align="center center" ng-style="{'background-image': 'url(' + bannerCap.img + ')'}">
                                    <div class="banner-caption ">
                                        <p class="caption-text margin-bottom-30 {{bannerCap.captionAlign}}">{{bannerCap.title1}}</p>
                                        <a  href="" class="primary-button primary-button-onBlack" ng-click="teamqueryModal()">Start hire</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div rn-carousel-indicators ng-if="bannerImages.length > 1" slides="bannerImages" rn-carousel-index="carouselIndex" class="custom-indicator"></div>
                    </div>
                </article>
            </section> 

            <section id="career">
                <article>
                    <div class="container">
                        <div class="col-md-6 career-content"> 
                            <h3 class="heading-03">Careers in <span class="primary-color">BINATE </span></h3>
                            <p>At Binate, one of our values is to "Grow As a Team." It's in our DNA to prioritize teamwork and develop our people. By working together, we achieve great things for clients and create opportunities to build rewarding careers. You can be part of that when you join our team. And it's all at your fingertips!</p> 
                            <a  href="career.html" class="primary-button">View Positons</a>
                        </div>
                        <div class="col-md-6 career-images"> 
                            &nbsp;
                        </div>
                    </div>
                </article>
            </section>
            
             
        </div>
        <!--Body container end--> 

        <!--Footer start-->
        <footer id="address-section" parallax-background parallax-ratio="0.5">
            
            <section class="padding-50-0">
                <article>
                    <div class="container">
                        <div class="col-md-6 binate-address"> 
                            <p class="address">
                                House-1148 (1st, 3rd, & 4th floor)<br>
                                Road 9A(Old-48), Mirpur DOHS, Dhaka-1216<br>
                                Bangladesh
                            </p> 
                        </div>
                        <div class="col-md-6 binate-address"> 
                            <div class="address-logo">
                                <img src="img/logo-without-text.png" alt="Globe" title="Binate Solutions" /> 
                            </div> 
                            <p class="phone-number"><i class="fa fa-mobile" aria-hidden="true"></i> +880 196 280 0429</p>
                            <p class="phone-number"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@binate-solutions.com</p>
                        </div>
                    </div>
                </article>
            </section>
            
            <div class="footer-first">
                <div class="container">
                    <div class="col-md-5 copy-right pull-left">
                        <p class="margin-bottom-0">Copyright &copy; 2016, - Binate Solutions</p>
                    </div>
                    <div class="col-md-3 social-icons pull-right"> 
                        <a href="https://www.linkedin.com/company/BinateSolutions" target="_blank" alt="linkedin" title="linkedin" class="fa fa-linkedin linkedin"></a>
                        <a href="https://www.facebook.com/BinateSolutions" target="_blank" alt="Facebook" title="Facebook" class="fa fa-facebook facebook"></a>
                    </div> 
                </div>
            </div>
        </footer>
        <!--Footer start-->
    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script type="text/javascript" src="js/main-controller.js"></script>
    <script type="text/javascript" src="js/home-controller.js"></script>
    <script type="text/javascript" src="js/angular-parallax.js"></script>
    <script type="text/javascript" src="js/angular-scroll.js"></script>
    <script type="text/javascript" src="js/ngDialog.js"></script>
    <script type="text/javascript" src="js/angular-scroll-animate.js"></script>
    <script type="text/javascript" src="js/angular-material-icons.js"></script>
    <script type="text/javascript" src="js/angular-touch.js"></script>
    <script type="text/javascript" src="js/angular-carousel.js"></script>
    <script type="text/javascript" src="js/match-media.js"></script>
    <script type="text/javascript" src="js/customSelect.js"></script>

</body>

</html>